
p1{
    color: blue;
    
}
.one{
    color:yellow
}
#two{
    color: blueviolet;
}
article p{
    color:pink;
}
nav>ul{
    color:chartreuse;
}
h2+p{
    color:darkgoldenrod;
}
h3~p{
    color:green;
}
p6{
    color:#201C53
}
p7{
    color:rgba(rgba(224, 12, 12, 0.908), green, blue, alpha)
}