.form{
    background-color:  rgb(100, 147, 218);
    width: 400px;
    height: 550px;
    font-size: 30px;
    

    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: blue;
    margin-left: 500px;
    margin-top: 50px;
    padding-left: 20px;

}
input{
    width: 200px;
    height: 20px;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    
}